// reset slick slider css
.slick-next, .slick-prev{
    //border: 1px solid blue !important;
    width: 48px !important;
    height: 48px !important;
    background: #fff !important;
    &:hover{
        background: #d7d7d7 !important;
    }

}
.slick-next {
    right: -10px !important;
//    border: 1px solid blue !important;

}
.slick-prev {
    left: -10px !important;
//    border: 1px solid green !important;
    z-index: 1000 !important;
    //position: relative !important;
}
.slick-next:before, .slick-prev:before {
    color: red !important;
    font-family: 'Glyphicons Halflings' !important;
    //content: "\e257"! important;
    
    //content: "\f0a9" !important;
    //content: "\f0a8" !important;
}
.slick-disabled {
    display: none !important;
}

.section-share{
    &.section-specialty{
        background: #f5f5f5;
    }
    &.section-medical-facility{
        background: #fff;
    }
    &.section-outStanding-Doctor{
        background: #f5f5f5;
    }
    &.section-about{
        border-top: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
        height: 500px !important;
        padding: 0 100px;
        .section-about-header{
            padding: 20px 10px;
            font-size: 20px;
            font-weight: 500;
        }
        .section-about-content{
            display: flex;
            gap: 15px;
            width: 100%;
            .content-left{
                width:60%;
            }
            .content-right{
                width:40%;
                p{
                    text-align: justify;
                    font-style: italic;
                    padding-top: 15px;
                }
            }

        }
    }
    .section-body{
        //border: 1px solid black;

        .section-customize{

            .bg-image{
                width: 278px;
                height: 150px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #eee;

                &.section-specialty{
                    background-image: url(../../assets/specialty/co-xuong-khop.jpeg);
                }
                &.section-medicalFacility{
                    background-image: url(../../assets/medicalFacility/lo-go-viet-duc.jpeg);
                }
                &.section-outStanding-Doctor{
                    width: 120px;
                    height: 120px;
                    background-image: url(../../assets/outStandingDoctor/anh-dai-dien-bs.jpeg);
                    border-radius: 50%;
                }
                &.section-handBook{
                    background-image: url(../../assets/handBook/chi-phi-kham-tam-ly-hn.png);
                }

            }
        }
    }
}

.section-outStanding-Doctor{
    .section-customize{
        //border: 1px solid grey;
        padding: 10px;
        .customize-border{
            border: 1px solid grey;
            padding: 5px;
        }
        .outer-bg{
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }
    
    }
}

.section-share{
    
    height: 330px;

    //border: 1px solid red;
    .section-container{
        margin: 0 100px;
        .section-header{
            height: 60px;
            //border: 1px solid green;
            padding: 20px 0;

            .title-section{
                font-size: 20px;
                font-weight: 600;
            }
            .btn-section{
                float: right;
                display: block;
                padding: 5px 10px;
                border: none;
                outline: none;
                background: #ebebeb;
                color: black;
                text-transform: uppercase;
                &:hover{
                    color: #fff;
                    background: #f7d800;
                }

            }
        }

            
    }
}

.home-footer{
    text-align: center;
    padding-top: 10px;
    a{
        text-decoration: unset;
    }
}



